<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      LinkedCT.org | Start Page
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
  </head>
  <body>
    
    <div class="browser">
    <div id="header">
      <h1 id="title">
        LinkedCT.org
      </h1>
      <div class="subtitle">Linked Data Source of Clinical Trials</div>
    </div>

    <div class="section">
    <div id="rdficon"><a href="$rdf_link" title="RDF data"><img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div>
      <strong>Home</strong>
#if (!$classmap_links.isEmpty())
      | 
#if ($truncated_results)
      Example data:
#end
#foreach ($aClassMap in $classmap_links.keySet())
      <strong><a href="$classmap_links.get($aClassMap)">$aClassMap</a></strong>
#end
#end
    </div>
    <div class="section">
      <p>This is a preview of LinkedCT.org: <a href="http://linkeddata.org">Linked Data</a> source of clinical trials. This preview database is published using <a href="http://www4.wiwiss.fu-berlin.de/bizer/d2r-server/">D2R Server</a>. It can be accessed using</p>
      <ol><li>Your plain old web browser</li>
        <li>Semantic Web browsers</li>
        <li>SPARQL clients.</li></ol>
    <hr>
      <h2>1. HTML View</h2>
      <p>You can use the navigation links at the top of this page to explore the database.</p>
    
    <hr>
      <h2>2. RDF View</h2>
      <p>You can also explore this database with <strong>Semantic Web browsers</strong> 
        like <a href="http://dig.csail.mit.edu/2005/ajar/ajaw/tab">Tabulator</a> or
        <a href="http://www4.wiwiss.fu-berlin.de/rdf_browser/">Disco</a>, or the <a href="https://addons.mozilla.org/en-US/firefox/addon/8062">OpenLink Data Explorer Firefox Add-on</a>. To start browsing,
        open this entry point URL in your Semantic Web browser:</p>
      <p style="text-align: center"><strong>${home_link}all</strong></p>
    <hr>
        <h2>3. SPARQL Endpoint</h2>
        <p>SPARQL clients can query the database at this SPARQL endpoint*:</p>
        <p style="text-align: center"><strong>${home_link}sparql</strong></p>
        <p>The database can also be explored using <a href="snorql/">this AJAX-based SPARQL Explorer</a>.
        <small> <small> <br> * Note: Currently, the reults of SPARQL queries may not be acurate due to a limit on the size of the results returned by the RDBMS on the public server. A new server will be available soon. </small></small>
        </p>
        
    
      
    </div>
    
    
    
          <div class="section">
            
           
       <h2> Current Status </h2>
       <p>
       Total number of triples: 6,998,851 <br>
       Number of Trials: 61,920 <br>
       Total number of RDF interlinks to other Linked Data sources: 177,975 <br>
       Links to: <a href="http://dbpedia.org">DBpedia</a> and <a href="http://www.mpi-inf.mpg.de/~suchanek/yago/">YAGO</a> (from intervention and conditions), <a href="http://geonames.org/">GeoNames</a> (from locations),
       <a href="http://bio2rdf.org">Bio2RDF.org</a>'s PubMed (from references). <br>
       </p>
       
       <p> These numbers will change frequently in the preview version of the database.
    
            
      </div>
    
    
    
    
    
    </div>

    <div class="snorql">
      <div class="section">
        
       
        <p align="center">
        <a href="http://www.cs.toronto.edu/" title="UofT Database">
        <img src="uoft_dbgroup_logo.png" alt="[University of Toronto DB Group Logo]"/>
        </a>
        &nbsp 
        <a href="http://esw.w3.org/topic/SweoIG/TaskForces/CommunityProjects/LinkingOpenData" title="Linking Open Data Community Project">
        <img src="lod.png" alt="[Part of W3C SWEO Linking Open Data community project]"/>
        </a>
        </p>
        <p align="center">
        Information on this website is obtained from <a class="cp" href="http://clinicaltrials.gov">ClinicalTrials.gov</a>. Using this information is subject to ClinicalTrials.gov's <a class="cp" href="http://www.clinicaltrials.gov/ct2/info/terms">Terms and Conditions</a>.
        </p>
        <p align="center">
	        Please send your comments and questions to admin at linkedct.org.
        </p>

        
      </div>
    </div>

    </div>



    <div id="footer">Generated by <a href="http://www.wiwiss.fu-berlin.de/suhl/bizer/d2r-server/">D2R Server</a>
    <br>
    Information on this website is obtained from <a class="cp" href="http://clinicaltrials.gov">ClinicalTrials.gov</a>. Using this information is subject to ClinicalTrials.gov's <a class="cp" href="http://www.clinicaltrials.gov/ct2/info/terms">Terms and Conditions</a>.
    </div>
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-6048614-1");
    pageTracker._trackPageview();
    </script>
    
  </body>
</html>
