<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="browser">
  <head>
    <title>
#if ($label)
      $label.string | $server_name
#else
      Description of $uri | Linked Movie Data Base $server_name
#end
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
  </head>
  
  <body>
    
  <table summary="Site Header" id="sitehead" align="center" border="0" cellpadding="0" cellspacing="0">
  
    <tbody>
  
      <tr>
  
        <td title="Linked Movie Data Base Home" align="center">
        
  
        
        <div><a href="http://www.linkedmdb.org/"> <img src="http://www.linkedmdb.org:8080/wiki/pub/skins/light/header.png" vspace="10px" /> </a> <br />
  
        </div>
  
        </td>
  
      </tr>
  
    </tbody>
  </table>

  
  
  <div id="header" > <h1 id="title"> LinkedCT.org </a> 
    </h1>
  </div> <br>
  
    

    <div id="header"
      <div id="rdficonleft"><a href="$rdf_link" title="RDF data"><img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div> 
      <h1 id="title">
      <!-- <div id="rdficon"><a href="$rdf_link" title="RDF data"><img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div> -->
#if ($label)
      $label.string
#else
      Description of $uri
#end
      </h1>
      <div class="subtitle">Resource URI: $uri</div>
    </div>

    <div class="section">
      <strong><a href="$home_link">Home</a></strong>
#if (!$classmap_links.isEmpty())
      | 
#foreach ($classmap in $classmap_links.keySet())
      <strong><a href="$classmap_links.get($classmap)">
#if ($truncated_results)
        Example
#else
        All
#end
        $classmap
      </a></strong>
#end
#end
    </div>
    <div class="section">
#if (!$properties.isEmpty())
      <table class="queryresults">
        <tr><th>Property</th><th>Value</th></tr>
#foreach ($property in $properties)
#if ($velocityCount % 2 == 0)
#set ($odd_even = "even")
#else
#set ($odd_even = "odd")
#end
        <tr class="$odd_even">
          <td class="property">
#if ($property.isInverse())
            <small>is</small>
#end
#if ($property.propertyPrefix())
            <a class="uri" href="$property.propertyURI()" title="$property.propertyURI()"><small>$property.propertyPrefix()</small>$property.propertyLocalName()</a>
#else
            <a class="uri" href="$property.propertyURI()" title="$property.propertyURI()"><small>?:</small>$property.propertyLocalName()</a>
#end
#if ($property.isInverse())
            <small>of</small>
#end
          </td>
          <td>
#if ($property.valueQName())
            <a class="uri" href="$property.value().URI">$property.valueQName()</a>
#elseif ($property.value().isURI())
            <small>&lt;</small><a class="uri" href="$property.value().URI">$property.value().URI</a><small>&gt;</small>
#elseif ($property.value().isBlank())
            <span class="blank">_:$property.value().BlankNodeLabel</span>
#elseif ($property.value().isLiteral())
            <span class="literal">$property.value().LiteralLexicalForm
#if ($property.value().LiteralDatatype)
            <small>($property.datatypeQName())</small>
#end
#if ($property.value().LiteralLanguage != "")
            <small>($property.value().LiteralLanguage)</small>
#end
            </span>
#end
          </td>
        </tr>
#end
      </table>
#else
      <p>No textual description available.</p>
#end
    </div>

    
    <div class="copyright"> <font color="#919191" text-decoration="none"> 
    <small> <small>
    Generated by <a class="cp" href="http://www.wiwiss.fu-berlin.de/suhl/bizer/d2r-server/">D2R Server</a>
    <br>
    Information on this website is obtained from <a class="cp" href="http://clinicaltrials.gov">ClinicalTrials.gov</a>. Using this information is subject to ClinicalTrials.gov's <a class="cp" href="http://www.clinicaltrials.gov/ct2/info/terms">Termas and Conditions</a>.
    </font>
    </div>
    
    <!-- Start of StatCounter Code -->
    
    <script type="text/javascript">
    var sc_project=3831582; var sc_invisible=1; var sc_partition=34; var sc_click_stat=1; var sc_security="708925ed"; </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
    <noscript><div class="statcounter"><a
    href="http://www.statcounter.com/" target="_blank"><img
    class="statcounter"
    src="http://c.statcounter.com/3831582/0/708925ed/1/" alt="web hit
    counter" ></a></div></noscript>
    
    <!-- End of StatCounter Code -->
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
    _uacct = "UA-4870767-1";
    urchinTracker();
    </script>
<!-- vim: expandtab sw=1 ts=1 sts=1 : -->
    
  </body>
</html>
