<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Linked Movie Database | Start Page
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}root-style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
  </head>
  <body>

  
<!--PageHeaderFmt-->
<table summary="Site Header" id="sitehead" align="center" border="0" cellpadding="0" cellspacing="0">

  <tbody>

    <tr>

      <td title="Linked Movie Data Base Home" align="center">
      

      
      <div><a href="http://www.linkedmdb.org/"> <img src="http://www.linkedmdb.org:8080/wiki/pub/skins/light/header.png" vspace="10px" /> </a> <br />

      </div>

      </td>

    </tr>

  </tbody>
</table>





<!--/PageHeaderFmt--><!--PageAdminTopFmt--><!--/PageAdminTopFmt-->
<table summary="Site Main" id="sitemain" align="center" border="0" cellpadding="0" cellspacing="0">

  <tbody>

    <tr>

      </td>
      
      
      
      
<!--PageRightFmt--> <td id="mainsidebar" $skinhideside="">
      <table summary="SideBar" id="sidebar" border="0" cellpadding="0" cellspacing="0" width="100%">

        <tbody>
         

          <tr>
          <br>

            <td><div class='vspace'></div><h3 class='sidehead' style='text-align: center;'>  <a class='urllink' href='http://www.linkedmdb.org/' rel='nofollow'>Home</a></h3>
<h3  style='text-align: center;'> <a class='wikilink' href='http://www.linkedmdb.org:8080/Main/Statistics'>Statistics</a></h3>
<h3  style='text-align: center;'> <a class='wikilink' href='http://www.linkedmdb.org:8080/Main/Interlinking'>Interlinking</a> </h3>
<h3  style='text-align: center;'> <a class='wikilink' href='http://www.linkedmdb.org:8080/Main/Licensing'>Licensing</a></h3>
<h3  style='text-align: center;'> <a class='wikilink' href='http://www.linkedmdb.org:8080/Main/About'>About</a></h3>
<div class='vspace'></div>


            </td>

          </tr>

        </tbody>
      </table>

      </td>

<!--PageLeftFmt-->      
      
      
      
      
      
      
      
      

<!--PageLeftFmt--><!--/PageLeftFmt--> <td id="maincontent">
      <table summary="Content" id="sitecontent" border="0" cellpadding="0" cellspacing="0" width="100%">

        <tbody>

          <tr>

            <td>
            <!--PageTitleFmt
            <div id="location">
            <span class="titlelink">Home Page</span></div>
		-->
		
            <h1> Browse </h1>

<div id='wikitext' align="justify">


#if (!$classmap_links.isEmpty())
      
#if ($truncated_results)
      Example data: <br>
#end
#foreach ($aClassMap in $classmap_links.keySet())
      <strong><a href="$classmap_links.get($aClassMap)">$aClassMap</a></strong>
#end
#end



    <div class="section">
      <p>This is a database published with D2R Server. It can be accessed using</p>
      <ol><li>your plain old web browser</li>
        <li>Semantic Web browsers</li>
        <li>SPARQL clients.</li></ol>
    </div>
    <div class="section">
      <h2>1. HTML View</h2>
      <p>You can use the navigation links at the top of this page to explore the database.</p>
    </div>
    <div class="section">
      <h2>2. RDF View</h2>
      <p>You can also explore this database with <strong>Semantic Web browsers</strong> 
        like <a href="http://dig.csail.mit.edu/2005/ajar/ajaw/tab">Tabulator</a> or
        <a href="http://www4.wiwiss.fu-berlin.de/rdf_browser/">Disco</a>. To start browsing,
        open this entry point URL in your Semantic Web browser:</p>
      <p style="text-align: center"><strong>${home_link}all</strong></p>
    </div>
    </div>

    <div class="snorql">
      <div class="section">
        <h2>3. SPARQL Endpoint</h2>
        <p>SPARQL clients can query the database at this SPARQL endpoint:</p>
        <p style="text-align: center"><strong>${home_link}sparql</strong></p>
        <p>The database can also be explored using <a href="snorql/">this AJAX-based SPARQL Explorer</a>.</p>
      </div>
    </div>




            </td>

          </tr>

        </tbody>
      </table>

      </td>

<!--/PageRightFmt--> </tr>

  </tbody>
</table>

<!--PageAdminBtmFmt--><!--/PageAdminBtmFmt-->
<table summary="Site Footer" id="sitefoot" align="center" border="0" cellpadding="0" cellspacing="0">

<!--PageFooterFmt--> <tbody>

    <tr>
 
      
      
<td style="text-align: center;"> <small> <small>
Generated by <a href="http://www.wiwiss.fu-berlin.de/suhl/bizer/d2r-server/">D2R Server</a>
      <br> Copyright 2008 - LinkedMDB.org
 </td>

    </tr>

<!--/PageFooterFmt--> <tr>

      

    </tr>

  </tbody>
</table>











    
<!-- Start of StatCounter Code -->

<script type="text/javascript">
var sc_project=3831582; var sc_invisible=1; var sc_partition=34; var sc_click_stat=1; var sc_security="708925ed"; </script>
<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
<noscript><div class="statcounter"><a
href="http://www.statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/3831582/0/708925ed/1/" alt="web hit
counter" ></a></div></noscript>

<!-- End of StatCounter Code -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>


<script type="text/javascript">
_uacct = "UA-4870767-1";
urchinTracker();
</script>
<!-- vim: expandtab sw=1 ts=1 sts=1 : -->

    
  </body>
</html>
