{% extends "base.html" %}
{% load pagination_tags %}
{% load linkedct %}


{% block title %}{{ model.name_plural|capfirst }}{% endblock %}


{% block content %}

<div id="breadcrumbs">
<a href="/">Home</a> / {{ model.name_plural|capfirst }}
</div>

<h1>
{{ object_list.count }}
{% if object_list.count|pluralize %}{{ model.name_plural }}{% else %}{{ model.name }}{% endif %}
{% if keyword %}matching "{{ keyword }}"{% endif %}
</h1>

<div>
<form action="{% url search_form model.name %}" method="POST">
Search for {{ model.name_plural }}: <input type="text" name="keyword" value="{{ keyword }}"/>
</form>
</div>

{% autopaginate object_list %}
{% paginate %}

<br /><br />

{% for object in object_list %}
    <div class="objectlist {% cycle 'odd' 'even' %}">
    <a class="objectname" href="{% url_detail model.name object %}">{{ object.name }}</a>
    </div>
{% endfor %}

{% paginate %}

{% endblock %}
