{% extends "base.html" %}
{% load linkedct %}

{% block title %}Home{% endblock %}

{% block meta %} 
<meta name="keywords" content="clinical trials, clinical study, trial, rdf, linked data">
<meta name="description" content="http://data.linkedct.org is the data explorer interface for Linked Data published by Linked Clinical Trials (LinkedCT).">
{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block content %}


<!-- list of all models -->
{% for model in model_list %}
<div class="modelgroup {% cycle 'even' 'odd' %}">
    <h2><a href="{% url_list model.name %}">{{ model.name_plural|capfirst }}</a></h2>
    <p>
    {% for object in model.sample_objects %}
        <a href="{% url_detail model.name object %}">{{ object.name }}</a>, 
    {% endfor %}
    <a class="more" href="{% url_list model.name %}">More &rarr;</a>
    </p>
</div>
{% endfor %}


<!-- flat pages -->
<div class="modelgroup {% cycle 'even' 'odd' %}">
    <h2><a href="#">Documentations</a></h2>
    <p>
    {% for flatpage in flat_page_model.all_objects %}
        <a href="{{ flatpage.url }}">{{ flatpage.title }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
</div>


<!-- submit new bibtex file form -->
<script>
function doClear(textfield) {
    if (textfield.value == textfield.defaultValue) {
        textfield.value = ""
    }
}
</script>

<form id="upload" action="{% url uploadxml %}" method="POST">
<div class="modelgroup  {% cycle 'even' 'odd' %}">
    <h2><a href="#">Add New XML:</a></h2>
    <p>
    <input type="text" size="80" name="url" value="http://..." onfocus="doClear(this)" />
    {{ upload_form.encoding }}
    <a class="more" href="javascript:document.forms['upload'].submit();">Submit &rarr;</a>
    </p>
</div>
</form>

{% endblock %}
