{% extends "databrowse/base_site.html" %}
{% load pagination_tags %}


{% block title %}{{ field_name }} value(s) for {{ object }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a> / <a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a> / <a href="../../">{{ object }}</a> / {{ field_name }}</div>

{% if field_urls %}

<h1>{{field_urls|length}} {{ field_name }} value(s) for {{ object }} </h1>

{% autopaginate field_urls %}
{% paginate %}

<ul class="objectlist">

{% if field_urls %}
{% for value, url in field_urls %}
<li class="{% cycle 'odd' 'even' %}">{% if url %}<a href="{{ url }}">{% endif %}{{ value }}{% if url %}</a>{% endif %}</li>
{% endfor %}
{% else %}None{% endif %}

</ul>



{% else %}
<h1>No {{ model.verbose_name_plural|capfirst }} found with {{ field_name }}</h1>
{% endif %}


{% endblock %}
